body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
nav{
    display: flex;
    background-color: rgb(26, 23, 23);
    padding: 12px 40px;
    justify-content:space-around;
    align-items: center;
    
}
.nav a:hover{
    color: white;
}

#navigation{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 0.86;  
    text-decoration: none;
    

   
}
.nav-link{
  
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   
}


#cards{
    display: flex;
    justify-content: center;
    align-self: stretch;
   
    height: 380px;
    background-image: url(../Assets/images/vaso\ cafe.jfif);
    background-size: cover;
    background-position: center;
    padding: 48px 147px;
    gap: 24px;
    
}
#cards p{
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    line-height: 91%;
    text-align: center;
}
#cards h3{
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    line-height: 106%;
    text-align: center;
}
#cards h2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;

}
#cards img{
    width: 64px;
    height: 64px;
    padding: 12px;

}

#cards article{
    display: flex;
    padding: 24px;
    gap: 16px;
   justify-content: center;
   flex-direction: column;
    width: 316px;
    height: 232px;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
}
#home{
    
    height: 1002.79px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    

    
    
}
#home h2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    padding-bottom: 40px;
}
.bottom3{
    width: 147px;
    height: 16px;
    text-decoration: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.test1{
    
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    height: 391.39px;
    width: 282px;
    align-items: center;
    justify-content:center;
    padding: 24px;
    gap: 24px;
    border: 1px solid #E3DED7;
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 10px;
    transition: .1s;
    

}
.test6{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    height: 391.39px;
    width: 282px;
    align-items: center;
    justify-content:center;
    padding: 24px;
    gap: 24px;
    border: 1px solid #E3DED7;
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 10px;
    transition: 0.1s;
    opacity: 0.4;
}
.bagcoffe article:hover{
    border: 2px solid #E3DED7;
    border-radius: 8px;
    background-color: #F7F5F3;
}
.bottom4:hover{
    background-color: #2A5B45;

}

.bagcoffe img{
    
    width: 219.39px;
    height: 219.39px;
}


.bottom4{
text-decoration: none;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
background-color: rgba(42, 91, 69, 0.7);
width: 60px;
height: 32px;
border-radius: 4px;
gap: 8px;
padding: 8px;
}

.link1{
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding-top: 32px;
    padding-bottom: 8px;
    
}

a.ccb:hover{
    color: black;
}



#foot1{
   
    height: 310px;
    background-color: #1F1815;
}

.foot2{

margin-left: 40px;
}

.foot2 h3{
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 131px;
    height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    
}

.bot11{
    display: flex;
flex-direction: row;
align-items: center;
   border-radius: 2px;
    width: 182px;
    height: 48px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
text-decoration: none;
padding-top: 12px;
padding-left: 24px;
gap: 8px;
background-color: #515051;
padding-top: 10px;
margin-top: 20px;

}

.bot12{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 8px;
width: 232px;
height: 48px;
background-color: #515051;
border-radius: 4px;
text-decoration: none;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
padding-top: 20px;
margin-top: 20px;
}

.foot3 ul{
list-style: none;

}

.foot4 ul{
    list-style: none;
}

.foot3 a{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-decoration: none;
color: #FFFFFF;
width: 116px;
height: 16px;
margin-left: 100px;
}

.foot4 a{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-decoration: none;
color: #FFFFFF;
width: 116px;
height: 16px;
}

#cpyr{
    width: 1320px;
    height: 40px;
    background-color: #2B2A2B;
    position: absolute;
}

.bot20{
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
text-decoration: none;
position: absolute;
width: 359px;
height: 16px;
left: 540.5px;
top: 12px;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  position:fixed;
    top: 105px;
    background: rgb(245, 243, 241);
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    z-index: 1;
    font-family: outfit;
    color: #000000;
    width: auto;
    gap: 2px;
    
}
.delete-product{
    cursor: pointer;
   
    top: -4px;
    right: 1px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 1px 6px;
    border-radius: 50%;
    text-decoration: solid;
    font-weight: 900;
    font-size: 12px;
}
.items{
  
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(26, 97, 8);
}

.sumar{
   
    cursor: pointer;
    
}

.restar{
    cursor: pointer;
    
    
}

.modal-container img{
    display:list-item;
    align-items: center;
  width: 90px;
}
.modal-container h3{
    margin: 0 14px;
    width: 120px;
    font-size: 20px;
    font-weight: 400;
    font-family: outfit;
}
.modal-container p {
    margin: 0 10px;
    width: 80px;
    font-size: 15px;
    font-weight: 400;
    font-family: outfit;
}
.tramitar{

    font-family: outfit;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    
}
a:hover{
    color: black;
}
.carItems h1{
   
    text-align: end;
}

.total-content{
    font-size: 20px;
}
