body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
nav{
    display: flex;
    background-color: rgb(26, 23, 23);
    padding: 12px 40px;
    justify-content:space-around;
    align-items: center;
    
}
.nav a:hover{
    color: white;
}

#navigation{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4628px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 0.86;  
    text-decoration: none;
    

   
}
.nav-link{
  
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   
}


#home h2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    padding-bottom: 40px;
}


.test1{
    
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    height: 391.39px;
    width: 282px;
    align-items: center;
    justify-content:center;
    padding: 24px;
    gap: 24px;
    border: 1px solid #E3DED7;
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 10px;
    transition: .1s;
}

.bagcoffe img{
    
    width: 55.66px;
    height: 55.66px;
}

.bottom4{
text-decoration: none;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
background-color: rgba(42, 91, 69, 0.7);
width: 60px;
height: 32px;
border-radius: 4px;
gap: 8px;
padding: 8px;
}

.link1{
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding-top: 32px;
    padding-bottom: 8px;
    
}

a.ccb:hover{
    color: black;
}



.title1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-top: 48px;
    color: #FFFFFF;
    text-align: center;
}




.foot3 ul{
list-style: none;

}

.foot4 ul{
    list-style: none;
}

.foot3 a{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-decoration: none;
color: #FFFFFF;
width: 116px;
height: 16px;
margin-left: 100px;
}

.foot4 a{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-decoration: none;
color: #FFFFFF;
width: 116px;
height: 16px;
}

#cpyr{
    width: 1320px;
    height: 40px;
    background-color: #2B2A2B;
    position: absolute;
}

.bot20{
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
text-decoration: none;
position: absolute;
width: 359px;
height: 16px;
left: 540.5px;
top: 12px;
}

#home{
    /* flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative; */
   display: flex;
padding: 0px;
position: relative;
width: 1280px;
height: 876px;


}

.modal-container{
    display: flex;
    flex-direction: column;                 
    align-content: center;
    position:flex;
    font-family: outfit;
    color: #000000;
    width: 700px;
    gap: 2px;
}
.totalCarr{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;
width: 384px;
height: 280px;
background: #F7F5F3;
left:816px;
margin-top: 156px;

}
.divider{
    
    width: 776px;
    top: 135.66px;
    left: 8px;
}
.product{
    margin-left: 48px;
margin-right: 1149px;
    
}
.seleccionar{
    margin-top: 239.32px;
    margin-left: 48px;
    margin: right 1089px;
    flex: none;
    order: 4;
    flex-grow: 0;

}
.delete-product{
    cursor: pointer;
}

.items{
  
    display: flex;
    align-items: center;
    border-bottom:  1px solid #E3DED7;
}
.modal-container img{
    display:list-item;
    align-items: center;
  width: 55.66px;
  height: 55.66px;
}
.sumar{
    cursor: pointer;
}
.restar{
    cursor: pointer;
}

.totalCarr h3{
    font-family: 'Outfit';
    color:  #000000;
    font-weight: 600;
    size: 18px;
    line-height: 24px;
}

.divider h3{
    width: 83px;
height: 24px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.divider p{
    width: 202px;
height: 16px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}
.envio{
    width: 88px;
height: 16px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #000000;
}
.recibe{
width: 509px;
height: 16px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
}
.items a{
width: 147px;
height: 16px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
align-items:baseline;
}
.total1 {
width: 54px;
height: 24px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #000000;

}
.boton{
text-decoration: none;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
background-color:#2A5B45;
width: 129px;
height: 40px;
border-radius: 4px;
gap: 8px;
padding: 8px;
}
